<div class="login">
  <div class="login_1">
    <h1>Login</h1>

    <div class="login_2">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="login_3">
          <div>User Name</div>
          <div>
            <input required name="userName" #userName="ngModel" [(ngModel)]="data.userName" class="form-control" placeholder="Your name" />
          </div>
          <div *ngIf="!checkValid(userName)">
            Please enter a valid User Name
          </div>
        </div>
        
        <div class="login_3">
          <div>User Password</div>
          <div><input required name="userPassword" [(ngModel)]="data.userPassword" class="form-control" placeholder="Your Password" /></div>
          <div *ngIf="!checkValid(userName)">
            Please enter a valid Password
          </div>
        </div>
        
        <div class="login_3">
          <div class="fLeft">
            <button [disabled]="f.form.invalid" class="btn btn-primary btn_login">Login me</button>
          </div>
          <div class="fRight login_4">
            <a href="#">Forgot password?</a>
            <br />
            Not yet a member? <a href="#">Sign Up</a>
          </div>
        </div>


      </form>
    </div>
  
  </div>
</div>
