<div class="login">
  <div class="login_1">
    <h1>Send a Post</h1>

    <div class="login_2">
      <form name="form" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="login_3">
          <div>Picture <span class="mandatory">*</span></div>
          <div>
            <input type="file" accept="image/*" 
              name="postPicture"
              (change)="onSelectFile($event)"
              class="form-control" placeholder="Uplod a picture" />
          </div>
        </div>

        <div class="login_3">
          <div>Title <span class="mandatory">*</span></div>
          <div>
            <input required name="postTitle" 
            #postTitle="ngModel"
            [(ngModel)]="data.postTitle"
            class="form-control" placeholder="Title" />
          </div>
          <div class="error" *ngIf="!checkValid(postTitle)">
            Please enter a valid Post Title
          </div>
        </div>
        
        <div class="login_3">
          <div>Text</div>
          <div>
            <textarea name="postText" 
              #postText="ngModel" 
              [(ngModel)]="data.postText"
              rows="5" class="form-control" ></textarea>
          </div>
        </div>

        <div class="login_3 login_3_1">
          <span class="error">
            Fields marked with * (asterix) are mandatory fields.
          </span>
        </div>

        <div class="login_3 login_3_2">
          <input 
            (click)="f.form.valid && onSubmit()" 
            [disabled]="f.form.invalid"
            type="button" class="btn btn-primary btn_login" value="Post me" />
        </div>

      </form>
    </div>
  
  </div>
</div>
