BODY{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: lightcyan;
    font-family: 'lato', 'arial', sans-serif;
}

.fLeft{
    float: left;
}

.fRight{
    float: right;
}

.error{
    color: red;
    font-size: 1rem;    
}
.mandatory{
    color: red;
    font-size: 1.5rem;
    vertical-align: sub;
}